// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.vt-dir
{
  direction: rtl;
  text-align: right;
}
.vt-dir *
{
  font-family: tahoma !important;
}
h2
{
  font-size: 1.7rem;
  font-weight: 700;
}
.vt-dir ion-icon {
  font-family: Ionicons !important;
}
.vt-title
{
margin-top: 24px;
margin-bottom: 24px;
color: #111111;
font-weight: 500;
display: block;
max-height: 2rem;
overflow: hidden;
line-height: 2rem;
}
.vt-renderer-scope
{
    display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.vt-grid
{
    margin-left: 4px;
  display: inline-block;
  width: 210px;
  margin-bottom: 24px;
}
.vt-tumbnail
{
  position: relative;
}
.vt-status
{
    display: inline-block;
    position: absolute;
    right: 0;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 6.7%);
    opacity: .8;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: center;
    bottom: 4px;
}
.vt-caption
{
  padding-left: 24px;
}
.vt-caption-title
{
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #111111;
  margin: 8px 0 8px !important;
}
.vt-metadata
{
  color: #cacac9;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
}