// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.vt-dir
{
  direction: rtl;
  text-align: right;
}
.vt-dir *
{
  font-family: tahoma !important;
}
h2
{
  font-size: 1.7rem;
  font-weight: 700;
}
.vt-dir ion-icon {
  font-family: Ionicons !important;
}
.vt-dir .item-md
{
  padding-left: 0;
}
.vt-title
{
margin-top: 24px;
margin-bottom: 24px;
color: #111111;
font-weight: 500;
display: block;
max-height: 2rem;
overflow: hidden;
line-height: 2rem;
}
.vt-grid
{
  margin-bottom: 24px;
}
.vt-tumbnail
{
  position: relative;
}
.vt-tumbnail img
{
  width: 100%;
}
.vt-status
{
    display: inline-block;
    position: absolute;
    right: 0;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 6.7%);
    opacity: .8;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: center;
    bottom: 4px;
}
.vt-caption
{
  padding-left: 24px;
}
.vt-caption-title
{
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #111111;
  margin: 8px 0 8px !important;
}
.vt-metadata
{
  color: #cacac9;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.vt-detail-header
{
  //margin: -16px -16px 0;
}
.vt-media
{
  width: 100%;
  display: block;
}
.vt-mainheader
{
  margin-top: 1rem !important;
  font-size: 20px;
}
.vt-actions
{
  background-color: #e3e3e3;
  padding: 1.2rem;
  text-align: center;
  position: relative;
}
.vt-actions:before
{
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  background-position: left 0 top 0;
  height: 2px;
}
.vt-actions .icon
{
  font-size: 21px;
  margin: 0 18px;
  color: #aaa;
  position: relative;
}
.vt-actions .ion-md-thumbs-up
{
  top: -1px;
}
.vt-view-count
{
  text-align: left;
  color: #aaa;
}
.vt-seperator
{
  margin: 16px 0;
}
.vt-comment-title
{
  padding: 16px;
}
.vt-comment-title span
{
  color: #aaa;
}
.form-control
{
  display: block;
  border: none;
  padding: 8px 16px;
  width: 100%;
}
.form-control::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #aaa;
}
.form-control::-webkit-input-placeholder {
  color: #aaa;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.vt-padding
{
  padding: 16px;
}
.vt-photo
{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
div.vt-photo
{
  float: right;
  margin-left: 16px;
}
.vt-photo-initial
{
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
.user-0
{
  background-color: #596275;
}
.user-1
{
  background-color: #cc90e2;
}
.user-2
{
  background-color: #80d066;
}
.user-3
{
  background-color: #ecd074;
}
.user-4
{
  background-color: #6fb1e4;
}
.user-5
{
  background-color: #e57979;
}
.user-6
{
  background-color: #f98bae;;
}
.user-7
{
  background-color: #73cdd0;
}
.user-8
{
  background-color: #fba76f;
}
.user-9
{
  background-color: #ffc40d;
}
.vt-comment-list
{
  padding: 0 16px;
}
.vt-comment-list:last-child
{
  padding-bottom: 16px;
}
.vt-comment-meta > span
{
  display: inline-block;
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
}
.clearfix:before,
.clearfix:after
{
  content: "";
  display: table;
}
.clearfix:after
{
  clear: both;
}
.vt-comment-body
{
  overflow: hidden;
}
.vt-drawer .label-md
{
  margin-top: 5px;
  margin-bottom: 5px;
}
.vt-drawer .label-md span
{
  font-size: 14px;
}
.vt-drawer .label-md ion-icon
{
  vertical-align: middle;
  margin-left: 24px;
}
.vt-drawer-account
{
  padding: 10px 16px;
  background-color: #eee;
}
.vt-drawer-submenu
{
  padding: 10px 16px;
}
.vt-drawer-submenu ion-icon
{
  vertical-align: middle;
  margin-left: 8px;
  color: #888;
  font-size: 21px;
}
.vt-drawer-submenu span
{
  color: #8c8c8c;
  font-size: 13px;
}